<%- include('../part/head', {title: "Homepage"}) %>
<%- include('../part/navbar', {rol_usu: global.__guest.rol_usu}) %>
<%- include('../part/menubar', {name: global.__guest.nombre_comp_usu, displayText: "N I Y", currentNode: "Homepage"}) %>

<% if(newuserAdded){ %> 
 <div class="container">
    <div class="alert alert-success" role="alert">
        Usuario exitosamente creado! Para revisar los usuarios dirigirse al nodo 'Usuarios'.
    </div>
 </div>
<% } %>
<%#  info: el arreglo contendra el nombre de la columna proveniente de la data, el segundo elemento es el valor %>
<% const dataArray2D = Object.entries(global.__guest); %>
<% dataArray2D.forEach(array => { %>
    <h6><%= array[0] %>: <%= array[1] %>,</h6><br></br>
<%});%>

<%- include('../part/tail') %>
