<%- include('../part/head', {title: "Homepage"}) %>
<%- include('../part/navbar') %>

<%# El arreglo contendra el nombre de la columna proveniente de la data, el segundo elemento es el valor %>
<% const dataArray = Object.entries(data); %>
 
<% dataArray.forEach(array => { %>

    <h6><%= array[0] %>: <%= array[1] %>,</h6><br></br>
    
<%});%>

<%- include('../part/tail') %>
